/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

#root,
#__next {
  isolation: isolate;
}

:root {
  font-family: system-ui, sans-serif;
  font-weight: normal;
  color: var(--color-5);

  --color-1: #2b3d50;
  --color-2: #354a5f;
  --color-3: #5d6d7e;
  --color-4: #b3b9b1;
  --color-5: #edf1f2;
  --highlight: #f34235;
}

body {
  height: 100vh;
  background: var(--color-1);
  background: radial-gradient(circle, var(--color-1) 0%, var(--color-2) 100%);
  background-repeat: no-repeat;
}

header {
  width: 100vw;
  height: 10vh;
  display: flex;
  align-items: center;
  padding: 1rem;
}

.logo-name {
  display: flex;
  margin-right: auto;
  gap: 0.5rem;
  color: var(--color-5);
}

.nav-btns {
  display: flex;
  gap: 1rem;
  font-size: 1.5rem;

  div {
    padding: 0.75rem 1rem;
    border-radius: 1rem;
    cursor: pointer;
    transition: all ease-in-out 200ms;
  }

  div:hover {
    background-color: var(--color-3);
  }
}

.main {
  padding-top: 1rem;
  display: flex;
  justify-content: center;
  gap: 1rem;
  align-items: flex-start;
}

.game-btns {
  flex: none;
  width: 10vw;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 1rem;

  div {
    background: var(--highlight);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0.75rem 1rem;
    font-weight: 600;
    border-radius: 1rem;
    filter: saturate(0.8);
    width: 100%;
    cursor: pointer;
  }
}

.game {
  height: 80vh;
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.grid {
  height: min(90%, 600px);
  aspect-ratio: 1 / 1;
  gap: 2px;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
}

.square {
  background: var(--color-3);
  border-radius: 6px;
  transition: all ease-in-out 100ms;
  position: relative;
}

.square.enemy {
  cursor: pointer;
}

.square.enemy:hover {
  transform: scale(1.2);
  z-index: 2;
  filter: brightness(1.2);
}

.attacked {
  background: var(--highlight);
  filter: saturate(0.8);
  transform: scale(1.2);
  z-index: 2;
}

.ship {
  background: var(--color-4);
}

.square::before {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
}

.hit::before {
  content: "⭕";
}

.miss::before {
  content: "❌";
}

.fire::before {
  content: "🔥";
}

#player-switch {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  height: 25%;
  width: 25%;
  text-align: center;
  background: none;
  border-radius: 1rem;
  border: none;

  h1 {
    color: var(--color-5);
    font-size: 2rem;
    margin-bottom: 1rem;
  }

  button {
    font-size: 2rem;
    background-color: var(--highlight);
    filter: saturate(0.8);
    color: var(--color-1);
    border: none;
    border-radius: 1rem;
    padding: 1rem;
    outline: none;
    font-weight: 600;
    cursor: pointer;
  }
}

#player-switch::backdrop {
  height: 100vh;
  background: var(--color-1);
  background: radial-gradient(circle, var(--color-1) 0%, var(--color-2) 100%);
  background-repeat: no-repeat;
}

.game-btns {
}

footer {
  position: absolute;
  width: 100%;
  bottom: 0;
  text-align: center;
  padding: 0.5rem;
  font-size: 0.75rem;
}
